<a href="https://colab.research.google.com/github/MANISH-KUMAR-CODES/Daily-code-practice/blob/main/Daily_code_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **In this notebook i will daily practice some codes. so  i never forget how to code and make myself strong in codings**

## practice on one hot encoding using python

In [1]:
import pandas as pd

In [8]:
df= pd.DataFrame({'Team' :["A","A","B","B","B","B","C","C","C"],
                    'points':[25,12,15,14,19,23,25,29,30]})
#view DataFrame
print(df)

  Team  points
0    A      25
1    A      12
2    B      15
3    B      14
4    B      19
5    B      23
6    C      25
7    C      29
8    C      30

In [39]:
from sklearn.preprocessing import OneHotEncoder
#creating instance of one-hot-encoder
Encoder = OneHotEncoder(handle_unknown = 'ignore')

#perform one-hot encoding on 'team' column 
encoder_df = pd.DataFrame(Encoder.fit_transform(df[['Team']]).toarray()) # in fir transform we have to put a dataframe only ,we cannot put a series 

#merge one-hot encoded columns back with original DataFrame
final_df = df.join(encoder_df)

#view final df
print(final_df)

#drop 'team' column
final_df.drop('Team',axis = 1,inplace = True)

#view final df
print(final_df)

final_df.columns = ['points','TeamA','TeamB','TeamC']

  Team  points    0    1    2
0    A      25  1.0  0.0  0.0
1    A      12  1.0  0.0  0.0
2    B      15  0.0  1.0  0.0
3    B      14  0.0  1.0  0.0
4    B      19  0.0  1.0  0.0
5    B      23  0.0  1.0  0.0
6    C      25  0.0  0.0  1.0
7    C      29  0.0  0.0  1.0
8    C      30  0.0  0.0  1.0
   points    0    1    2
0      25  1.0  0.0  0.0
1      12  1.0  0.0  0.0
2      15  0.0  1.0  0.0
3      14  0.0  1.0  0.0
4      19  0.0  1.0  0.0
5      23  0.0  1.0  0.0
6      25  0.0  0.0  1.0
7      29  0.0  0.0  1.0
8      30  0.0  0.0  1.0

In [37]:
#view final df
print(final_df)

   points  TeamA  TeamB  TeamC
0      25    1.0    0.0    0.0
1      12    1.0    0.0    0.0
2      15    0.0    1.0    0.0
3      14    0.0    1.0    0.0
4      19    0.0    1.0    0.0
5      23    0.0    1.0    0.0
6      25    0.0    0.0    1.0
7      29    0.0    0.0    1.0
8      30    0.0    0.0    1.0

In [29]:
Encoder.fit_transform(df[['Team']]).toarray()

array([[1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

### **using split function of python**

In [5]:
x,y = input('Enter two Inputs:').split(",")
print("Number of boys:",x)
print("Number of girls:", y)

Enter two Inputs:45,67
Number of boys: 45
Number of girls: 67

In [16]:
x,y,z = input("Taking three inputs:").split(",")
print("No. of boys:",(x))
print("No. of girls",(y))
print("No. of teachers:",(z))
print("No. of students in total:",x+y+z)

Taking three inputs:444,555,66
No. of boys: 444
No. of girls 555
No. of teachers: 66
No. of students in total: 44455566

In [18]:
a,b = input("The two numbers are:").split(',')
print("First number is {} and second number is {}".format(a,b))

The two numbers are:45,56
First number is 45 and second number is 56

In [23]:
# taking multiple inputs at a time 
# and type casting using list() function
x = list(map(int,input("multiple inputs:").split(',')))
print("list of multiple inputs are:",x)

multiple inputs:46,235,35,35,34,23
list of multiple inputs are: [46, 235, 35, 35, 34, 23]

In [25]:
print("Geeks of Geeks \n is the best for Dsa content")
print("Geeks of geeks \n is the best for DSA", end = '**')
print('Geeks of geeks is the best')

Geeks of Geeks
 is the best for Dsa content
Geeks of geeks
 is the best for DSA**Geeks of geeks is the best

### **code to print in same line**

In [27]:
print('Geeks',end = ' ')
print("GeeksofGeeks")

Geeks GeeksofGeeks

In [31]:
a= [1,2,3,4,5]
for i in range(5):
   print(a[i],end =' ')

1 2 3 4 5

In [36]:
l = [1,2,3,45,6,7]
print(*l)

1 2 3 45 6 7

In [39]:
print('Red',"Blue","Green", sep = ",",end = '@')
print('GeeksforGeeks')

Red,Blue,Green@GeeksforGeeks

In [47]:
# using format() method with number
print("Geeks :{0:2d}, Portal :{1:8.2f}".
      format(1200, 555.546))

Geeks :1200, Portal :  555.55

In [51]:
tab = {'geeks': 4127, 'for': 4098, 'geek': 8637678}

print('Geeks: {0[geeks]:2d}; For: {0[for]:d}; '
    'Geeks: {0[geek]:d}'.format(tab))

Geeks: 4127; For: 4098; Geeks: 8637678

In [55]:
data = dict(fun ="GeeksForGeeks", adj ="Portal")
 
# using format() in dictionary
print("I love {fun} computer {adj}".format(**data))

I love GeeksForGeeks computer Portal

In [64]:
cstr = "I love geeksforgeeks"
print("Centre alingned")
print(cstr.center(40,"*"))
#left alingned
print(cstr.ljust(40,'*'))
#right alinged
print(cstr.rjust(40,"*"))

Centre alingned
**********I love geeksforgeeks**********
I love geeksforgeeks********************
********************I love geeksforgeeks

In [65]:
# Examples of Bitwise operators
a = 10
b = 4
 
# Print bitwise AND operation
print(a & b)
 
# Print bitwise OR operation
print(a | b)
 
# Print bitwise NOT operation
print(~a)
 
# print bitwise XOR operation
print(a ^ b)
 
# print bitwise right shift operation
print(a >> 2)
 
# print bitwise left shift operation
print(a << 2)

0
14
-11
14
2
40

In [2]:
a ,b= 10, 20
if a >b :
  print("a is greater than b")
else:
    print(" b is greater than a")

 b is greater than a

In [5]:
print(a," is greater than b")if (a>b) else print(b," is greater")

20  is greater

In [6]:
print(1 + 2 + 5)
 
# concatenate two strings
print("Geeks"+"For"+ "Geeks")
 
# Product two numbers
print(3 * 4 * 9)
 
# Repeat the String
print("Geeks"*4+5*"for")

8
GeeksForGeeks
108
GeeksGeeksGeeksGeeksforforforforfor

In [29]:
## to overload an binary + operator
class A:
     def __init__(self,a,b):
        self.a = a
        self.b = b

     def __add__(self , o):
        self.o = o
        return self.a + o.a

In [30]:
obj1 = A(1,5)
obj2 = A(2,4)
print(obj1 + obj2)

3

In [36]:

# A Sample class with init method
class Person:
   
    # init method or constructor 
    def __init__(self, name,age):
        self.age = age
        self.name = name
   
    # Sample Method 
    def say_hi(self):
        print('Hello, my name is {},and my age is {}'.format(self.name,self.age))

In [37]:
p = Person('Nikhil',35)
p.say_hi()

Hello, my name is Nikhil,and my age is 35

In [14]:
class Dog:
     animal = "dog"
     def __init__(self,breed,color):
        self.breed = breed
        self.color = color

     def setcolor(self,color):
         self.color = color

     def getcolor(self):
         return self.color       

     print(Dog.animal)  ##Class variables can be accessed using class

dog

In [6]:
# Objects of Dog class
Rodger = Dog("Pug", "brown")
Buzo = Dog("Bulldog", "black")

In [7]:
print("Rodger details:")
print("Rodger class:",Rodger.animal)
print("Rodger breed:",Rodger.breed)
print("Rodger color:",Rodger.color)

Rodger details:
Rodger class: dog
Rodger breed: Pug
Rodger color: brown

In [8]:
print("Buzo details:")
print("Buzo class:",Buzo.animal)
print("Buzo breed:",Buzo.breed)
print("Buzo color:",Buzo.color)

Buzo details:
Buzo class: dog
Buzo breed: Bulldog
Buzo color: black

In [16]:
Rodger = Dog('Pug','yellow')
Rodger.setcolor("green")
print(Rodger.getcolor())

green

In [18]:
class GeekForGeeks:
      def __init__(self):
         self.geek = "GeekForGeeks"

      def printGeek(self):
          return print(self.geek)

In [19]:
obj = GeekForGeeks()
obj.printGeek()

GeekForGeeks

In [29]:
class Addition:
      first = 0
      second = 0
      answer = 0
      def __init__(self,f,s):
          self.first = f
          self.second = s
           
      def display(self):
        print("First number = " + str(self.first))
        print("Second number = " + str(self.second))
        print("Addition of two numbers = " + str(self.answer))     

      def calculate(self):
          self.answer = (self.first + self.second )
          return print("The answer is:",self.answer)

In [30]:
obj = Addition(19,56)
obj.calculate()
obj.display()

The answer is: 75
First number = 19
Second number = 56
Addition of two numbers = 75

## **Inheritance in python oops**

In [7]:
class person(object):
      def __init__(self,name):
         self.name = name

      def getname(self):
          return self.name  

      def isemployee(self):
          return False  

class employee(person):
     def isemployee(self):
        return True

In [9]:
obj = person("mahesh")
print(obj.getname(),obj.isemployee())
obj = employee("bupesh")
print(obj.getname(),obj.isemployee())

mahesh False
bupesh True

In [15]:
class person(object):
    def __init__(self,name,person_id):
        self.name = name 
        self.person_id = person_id

    def display(self):
        print(self.name,self.person_id,self.salary,self.department)    

class employee(person):
      def __init__(self,name,person_id,salary,department):
          self.salary = salary
          self.department= department

          person.__init__(self,name,person_id)

In [16]:
a = employee("mahesh",23,300000,"health")
a.display()

mahesh 23 300000 health

In [23]:
class base1():
     def __init__(self):
        self.str1 = "geek1"
        self.str3 = "For"
        print("base1")
class base2():
     def __init__(self):
        self.str2 = "geek2"
        print("base2")

class derived(base1,base2):
      def __init__(self):
          base1.__init__(self)
          base2.__init__(self)
          print("derived")

      def printstrs(self):
          print(self.str1,self.str3,self.str2)

In [24]:
obj = derived()
obj.printstrs()

base1
base2
derived
geek1 For geek2

In [29]:
class base(object):
     def __init__(self,name):
         self.name = name

     def getname(self):
         return self.name

class child(base):
     def __init__(self,name,age):
       self.age = age
       base.__init__(self,name)

     def getage(self):
         return self.age

class grandchild(child):
     def __init__(self,name,age,address):
        self.address = address
        child.__init__(self,name,age) 

     def getaddress(self):
         return self.address

In [30]:
a = grandchild("mojhan",23,"bhagalpur")
print(a.getname(),a.getage(),a.getaddress())

mojhan 23 bhagalpur

In [50]:
class Child1:
    def __init__(self, name):
        self.name = name
    def getName(self):
        return self.name
    def isStudent(self):
        return False

class Student1(Child1):
    def isStudent(self):
        return True

In [56]:
a = Child1("mohan")
print(a.getName(),a.isStudent())
a = Student1('Rakesh')
print(a.getName(),a.isStudent())

mohan False
Rakesh True

In [72]:
class mother:
      mothername = ""
      def mother(self):
         print(self.mothername)

class father:
      fathername = ""
      def father(self):
         print(self.fathername)

class child(mother,father):
      def parents(self):
          print("Father :", self.fathername)
          print("Mother :", self.mothername)

In [74]:
a = child()
a.fathername = "Ram"
a.mothername = "sita"
a.parents()

Father : Ram
Mother : sita

In [75]:
class Grandfather:
 
    def __init__(self, grandfathername):
        self.grandfathername = grandfathername
 
# Intermediate class
class Father(Grandfather):
    def __init__(self, fathername, grandfathername):
        self.fathername = fathername
 
        # invoking constructor of Grandfather class
        Grandfather.__init__(self, grandfathername)
 
# Derived class
class Son(Father):
    def __init__(self,sonname, fathername, grandfathername):
        self.sonname = sonname
 
        # invoking constructor of Father class
        Father.__init__(self, fathername, grandfathername)
 
    def print_name(self):
        print('Grandfather name :', self.grandfathername)
        print("Father name :", self.fathername)
        print("Son name :", self.sonname)

In [76]:
s1 = Son('Prince', 'Rampal', 'Lal mani')
print(s1.grandfathername)
s1.print_name()

Lal mani
Grandfather name : Lal mani
Father name : Rampal
Son name : Prince

In [1]:
class India():
    def capital(self):
        print("New Delhi is the capital of India.")
 
    def language(self):
        print("Hindi is the most widely spoken language of India.")
 
    def type(self):
        print("India is a developing country.")
 
class USA():
    def capital(self):
        print("Washington, D.C. is the capital of USA.")
 
    def language(self):
        print("English is the primary language of USA.")
 
    def type(self):
        print("USA is a developed country.")

In [2]:
obj_ind = India()
obj_usa = USA()
for country in (obj_ind, obj_usa):
    country.capital()
    country.language()
    country.type()

New Delhi is the capital of India.
Hindi is the most widely spoken language of India.
India is a developing country.
Washington, D.C. is the capital of USA.
English is the primary language of USA.
USA is a developed country.

In [3]:
class bird:
     def intro(self):
        print("there are different types of bird")
         
     def flight(self):
        print(" it can fly")

class sparrow(bird):
     def flight(self):
        print("sparrow can fly")

class ostrich(bird):
     def flight(self):
        print("ostrich cannot fly")

In [6]:
obj_bird = bird()
obj_bird.intro()
obj_bird.flight()

obj_sparrow = sparrow()
obj_sparrow.intro()
obj_sparrow.flight()

obj_ostrich = ostrich()
obj_ostrich.intro()
obj_ostrich.flight()

there are different types of bird
 it can fly
there are different types of bird
sparrow can fly
there are different types of bird
ostrich cannot fly

In [7]:
class India():
    def capital(self):
        print("New Delhi is the capital of India.")
  
    def language(self):
        print("Hindi is the most widely spoken language of India.")
  
    def type(self):
        print("India is a developing country.")
  
class USA():
    def capital(self):
        print("Washington, D.C. is the capital of USA.")
  
    def language(self):
        print("English is the primary language of USA.")
  
    def type(self):
        print("USA is a developed country.")
 
def func(obj):
    obj.capital()
    obj.language()
    obj.type()
  
obj_ind = India()
obj_usa = USA()
  
func(obj_ind)
func(obj_usa)

New Delhi is the capital of India.
Hindi is the most widely spoken language of India.
India is a developing country.
Washington, D.C. is the capital of USA.
English is the primary language of USA.
USA is a developed country.

In [8]:
from datetime import date
 
 
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
 
    # a class method to create a Person object by birth year.
    @classmethod
    def fromBirthYear(cls, name, year):
        return cls(name, date.today().year - year)
 
    # a static method to check if a Person is adult or not.
    @staticmethod
    def isAdult(age):
        return age > 18
 
 
person1 = Person('mayank', 21)
person2 = Person.fromBirthYear('mayank', 1996)
 
print(person1.age)
print(person2.age)
 
# print the result
print(Person.isAdult(22))

21
26
True

### **Try and Except Statement – Catching Exceptions**

In [9]:
def fun(a):
    if a < 4:
 
        # throws ZeroDivisionError for a = 3
        b = a/(a-3)
 
    # throws NameError if a >= 4
    print("Value of b = ", b)
     
try:
    fun(3)
    fun(5)
 
# note that braces () are necessary here for
# multiple exceptions
except ZeroDivisionError:
    print("ZeroDivisionError Occurred and Handled")
except NameError:
    print("NameError Occurred and Handled")

ZeroDivisionError Occurred and Handled

In [1]:
def AbyB(a , b):
    try:
        c = ((a+b) / (a-b))
    except ZeroDivisionError:
        print ("a/b result in 0")
    else:
        print (c)

In [2]:
AbyB(2.0, 3.0)
AbyB(3.0, 3.0)

-5.0
a/b result in 0

In [3]:
def division(x, y):
    try:
         result = x//y
         print("the answer is:",result)

    except ZeroDivisionError:
           print("you are diving by zero")

In [6]:
division(4,0)

you are diving by zero

In [7]:
 
class MyError(Exception):
 
    # Constructor or Initializer
    def __init__(self, value):
        self.value = value
 
    # __str__ is to print() the value
    def __str__(self):
        return(repr(self.value))
 
 
try:
    raise(MyError(3*2))
 
# Value of Exception is stored in error
except MyError as error:
    print('A New Exception occurred: ', error.value)

A New Exception occurred:  6

In [9]:

# define Python user-defined exceptions
class Error(Exception):
   """Base class for other exceptions"""
   pass
class zerodivision(Error):
   """Raised when the input value is zero"""
   pass
try:
   i_num = int(input("Enter a number: "))
   if i_num ==0:
      raise zerodivision
except zerodivision:
   print("Input value is zero, try again!")
   print()

Enter a number: 0
Input value is zero, try again!

In [10]:
class Error(Exception):
     pass
 
class TransitionError(Error):
 
    def __init__(self, prev, nex, msg):
        self.prev = prev
        self.next = nex
 
        self.msg = msg
try:
    raise(TransitionError(2,3*2,"Not Allowed"))

except TransitionError as error:
    print('Exception occurred: ',error.msg)

Exception occurred:  Not Allowed