<a href="https://colab.research.google.com/github/MANISH-KUMAR-CODES/Daily-code-practice/blob/main/Daily_code_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **In this notebook i will daily practice some codes. so  i never forget how to code and make myself strong in codings**

## practice on one hot encoding using python

In [1]:
import pandas as pd

In [8]:
df= pd.DataFrame({'Team' :["A","A","B","B","B","B","C","C","C"],
                    'points':[25,12,15,14,19,23,25,29,30]})
#view DataFrame
print(df)

  Team  points
0    A      25
1    A      12
2    B      15
3    B      14
4    B      19
5    B      23
6    C      25
7    C      29
8    C      30

In [39]:
from sklearn.preprocessing import OneHotEncoder
#creating instance of one-hot-encoder
Encoder = OneHotEncoder(handle_unknown = 'ignore')

#perform one-hot encoding on 'team' column 
encoder_df = pd.DataFrame(Encoder.fit_transform(df[['Team']]).toarray()) # in fir transform we have to put a dataframe only ,we cannot put a series 

#merge one-hot encoded columns back with original DataFrame
final_df = df.join(encoder_df)

#view final df
print(final_df)

#drop 'team' column
final_df.drop('Team',axis = 1,inplace = True)

#view final df
print(final_df)

final_df.columns = ['points','TeamA','TeamB','TeamC']

  Team  points    0    1    2
0    A      25  1.0  0.0  0.0
1    A      12  1.0  0.0  0.0
2    B      15  0.0  1.0  0.0
3    B      14  0.0  1.0  0.0
4    B      19  0.0  1.0  0.0
5    B      23  0.0  1.0  0.0
6    C      25  0.0  0.0  1.0
7    C      29  0.0  0.0  1.0
8    C      30  0.0  0.0  1.0
   points    0    1    2
0      25  1.0  0.0  0.0
1      12  1.0  0.0  0.0
2      15  0.0  1.0  0.0
3      14  0.0  1.0  0.0
4      19  0.0  1.0  0.0
5      23  0.0  1.0  0.0
6      25  0.0  0.0  1.0
7      29  0.0  0.0  1.0
8      30  0.0  0.0  1.0

In [37]:
#view final df
print(final_df)

   points  TeamA  TeamB  TeamC
0      25    1.0    0.0    0.0
1      12    1.0    0.0    0.0
2      15    0.0    1.0    0.0
3      14    0.0    1.0    0.0
4      19    0.0    1.0    0.0
5      23    0.0    1.0    0.0
6      25    0.0    0.0    1.0
7      29    0.0    0.0    1.0
8      30    0.0    0.0    1.0

In [29]:
Encoder.fit_transform(df[['Team']]).toarray()

array([[1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

### **using split function of python**

In [5]:
x,y = input('Enter two Inputs:').split(",")
print("Number of boys:",x)
print("Number of girls:", y)

Enter two Inputs:45,67
Number of boys: 45
Number of girls: 67

In [16]:
x,y,z = input("Taking three inputs:").split(",")
print("No. of boys:",(x))
print("No. of girls",(y))
print("No. of teachers:",(z))
print("No. of students in total:",x+y+z)

Taking three inputs:444,555,66
No. of boys: 444
No. of girls 555
No. of teachers: 66
No. of students in total: 44455566

In [18]:
a,b = input("The two numbers are:").split(',')
print("First number is {} and second number is {}".format(a,b))

The two numbers are:45,56
First number is 45 and second number is 56

In [23]:
# taking multiple inputs at a time 
# and type casting using list() function
x = list(map(int,input("multiple inputs:").split(',')))
print("list of multiple inputs are:",x)

multiple inputs:46,235,35,35,34,23
list of multiple inputs are: [46, 235, 35, 35, 34, 23]

In [25]:
print("Geeks of Geeks \n is the best for Dsa content")
print("Geeks of geeks \n is the best for DSA", end = '**')
print('Geeks of geeks is the best')

Geeks of Geeks
 is the best for Dsa content
Geeks of geeks
 is the best for DSA**Geeks of geeks is the best

### **code to print in same line**

In [27]:
print('Geeks',end = ' ')
print("GeeksofGeeks")

Geeks GeeksofGeeks

In [31]:
a= [1,2,3,4,5]
for i in range(5):
   print(a[i],end =' ')

1 2 3 4 5

In [36]:
l = [1,2,3,45,6,7]
print(*l)

1 2 3 45 6 7

In [39]:
print('Red',"Blue","Green", sep = ",",end = '@')
print('GeeksforGeeks')

Red,Blue,Green@GeeksforGeeks

In [47]:
# using format() method with number
print("Geeks :{0:2d}, Portal :{1:8.2f}".
      format(1200, 555.546))

Geeks :1200, Portal :  555.55

In [51]:
tab = {'geeks': 4127, 'for': 4098, 'geek': 8637678}

print('Geeks: {0[geeks]:2d}; For: {0[for]:d}; '
    'Geeks: {0[geek]:d}'.format(tab))

Geeks: 4127; For: 4098; Geeks: 8637678

In [55]:
data = dict(fun ="GeeksForGeeks", adj ="Portal")
 
# using format() in dictionary
print("I love {fun} computer {adj}".format(**data))

I love GeeksForGeeks computer Portal

In [64]:
cstr = "I love geeksforgeeks"
print("Centre alingned")
print(cstr.center(40,"*"))
#left alingned
print(cstr.ljust(40,'*'))
#right alinged
print(cstr.rjust(40,"*"))

Centre alingned
**********I love geeksforgeeks**********
I love geeksforgeeks********************
********************I love geeksforgeeks

In [65]:
# Examples of Bitwise operators
a = 10
b = 4
 
# Print bitwise AND operation
print(a & b)
 
# Print bitwise OR operation
print(a | b)
 
# Print bitwise NOT operation
print(~a)
 
# print bitwise XOR operation
print(a ^ b)
 
# print bitwise right shift operation
print(a >> 2)
 
# print bitwise left shift operation
print(a << 2)

0
14
-11
14
2
40