<a href="https://colab.research.google.com/github/MANISH-KUMAR-CODES/Daily-code-practice/blob/main/Daily_code_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **In this notebook i will daily practice some codes. so  i never forget how to code and make myself strong in codings**

## practice on one hot encoding using python

In [1]:
import pandas as pd

In [8]:
df= pd.DataFrame({'Team' :["A","A","B","B","B","B","C","C","C"],
                    'points':[25,12,15,14,19,23,25,29,30]})
#view DataFrame
print(df)

  Team  points
0    A      25
1    A      12
2    B      15
3    B      14
4    B      19
5    B      23
6    C      25
7    C      29
8    C      30

In [36]:
from sklearn.preprocessing import OneHotEncoder
#creating instance of one-hot-encoder
Encoder = OneHotEncoder(handle_unknown = 'ignore')

#perform one-hot encoding on 'team' column 
encoder_df = pd.DataFrame(Encoder.fit_transform(df[['Team']]).toarray())

#merge one-hot encoded columns back with original DataFrame
final_df = df.join(encoder_df)

#view final df
print(final_df)

#drop 'team' column
final_df.drop('Team',axis = 1,inplace = True)

#view final df
print(final_df)

final_df.columns = ['points','TeamA','TeamB','TeamC']

  Team  points    0    1    2
0    A      25  1.0  0.0  0.0
1    A      12  1.0  0.0  0.0
2    B      15  0.0  1.0  0.0
3    B      14  0.0  1.0  0.0
4    B      19  0.0  1.0  0.0
5    B      23  0.0  1.0  0.0
6    C      25  0.0  0.0  1.0
7    C      29  0.0  0.0  1.0
8    C      30  0.0  0.0  1.0
   points    0    1    2
0      25  1.0  0.0  0.0
1      12  1.0  0.0  0.0
2      15  0.0  1.0  0.0
3      14  0.0  1.0  0.0
4      19  0.0  1.0  0.0
5      23  0.0  1.0  0.0
6      25  0.0  0.0  1.0
7      29  0.0  0.0  1.0
8      30  0.0  0.0  1.0

In [37]:
#view final df
print(final_df)

   points  TeamA  TeamB  TeamC
0      25    1.0    0.0    0.0
1      12    1.0    0.0    0.0
2      15    0.0    1.0    0.0
3      14    0.0    1.0    0.0
4      19    0.0    1.0    0.0
5      23    0.0    1.0    0.0
6      25    0.0    0.0    1.0
7      29    0.0    0.0    1.0
8      30    0.0    0.0    1.0

In [29]:
Encoder.fit_transform(df[['Team']]).toarray()

array([[1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])